

body {
    flex-direction: column;       /* Stack items vertically */
    height: 100vh;                /* Full viewport height */
    background-color: rgb(255, 224, 159);
    display: flex;
    overflow: hidden;
}

p {
    font-size: 50px;
    color: rgb(212, 156, 0);
}

.SubmitButton {
    width: 21vw;
    color: rgb(212, 156, 0);
    align-items: center;
}

.SubmitDiv {
    padding-top: 3vw;
}


* { 
    padding: 1vw;
    margin: 0;
    box-sizing: border-box;
}
