
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;       /* Stack items vertically */
    align-items: center;          /* Center horizontally */
    height: 100vh;                /* Full viewport height */
    background-color: rgb(255, 224, 159);
}

p {
    font-size: 50px;
    color: rgb(212, 156, 0);
}

.Again {
    font-size: 30px;
}

.TryAgain {
    display: flex;
    justify-content: center;
}
