<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='IncorrectInput.css') }}">
</head>
<body>
    <form action = "http://localhost:8000/BadInput" method = "post">
        <div class="PadTop">
            <p>There was an incorrect input!</p>
        </div>

        <div class="PadTop">
            <input type = "submit" value = "Return" class="Button" name="button"/>
        </div>
    </form>
</body>
</html>