<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='loginstyles.css') }}">
      <link rel="icon" type="image/x-icon" href="/favicon.png">
   </head>
   <body>
      <form action = "http://localhost:8000/login" method = "post">
         <div>
            <p>Enter Name:</p>
            <input type = "text" name = "nm"/>
         </div>
         
         <div>
            <p>Enter Password:</p>
            <input type = "password" name = "pw" />
         </div>
         
         <div class="SubmitDiv">
            <input type = "submit" value = "Submit" class="SubmitButton" name="button"/>
         </div>
         <div class="SubmitDiv">
            <input type="submit" value="New Account" class="SubmitButton" name="button"/>
         </div>
      </form>
   </body>
</html>