<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='NewData.css') }}">
</head>
<body>
    <div class="Welcome">
        <p>
            Hello {{ username }}
        </p>
    </div>

    <div class="Submit">
        <div class="Steps">
            <p>Enter Amount Of Steps:</p>
        </div>
        
        <form action="{{ url_for('NewData') }}" method="post">
            <input type = "text" name = "sp" class="Entry"/>
            <div class="PadTop">
                <input type="submit" value="Continue" class="SubmitButton Button"/>
            </div>
        </form>
    </div>
</body>
</html>